body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de center a flex-start */
    height: 100vh;
    text-align: center;
}

header h1 {
    margin: 20px;
    font-size: 3.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px; /* Añadido padding para espacio alrededor de los bloques */
    overflow-y: auto; /* Permite scroll si el contenido es demasiado grande */
}

.block {
    background-color: #7f2edb; /* Puedes cambiar el color aquí */
    color: white;
    margin: 15px;
    padding: 20px;
    width: 60%; /* Puedes ajustar el ancho según prefieras */
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.block:hover {
    background-color: #50c256;
}

.content {
    display: none;
    margin-top: 5px;
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
    border-radius: 8px;
    max-height: 300px; /* Establece una altura máxima para el contenido desplegable */
    overflow-y: auto; /* Añade scroll si el contenido es demasiado grande */
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
